Debugging is the process of identifying, analyzing, and resolving errors (or "bugs") in a program or system to ensure it functions as intended. It involves locating the source of a problem in the code, understanding why it occurs, and applying fixes to prevent the issue from happening again.

**Debugging Techniques**
Manual Inspection:
Reading through the code to find mistakes.

Using Print Statements:
Adding print() statements to display variable values and program flow.

Using Debuggers:
https://pythontutor.com/render.html#mode=edit

Syntax Error

In [16]:

#print('Hello") # mismatch "" and ''

x = 5
if x>2    # missing :
 print(x)

SyntaxError: expected ':' (<ipython-input-16-e14e4510f661>, line 4)

In [19]:
x = 5+
print(x)

SyntaxError: invalid syntax (<ipython-input-19-b2b7de061c4f>, line 1)

In [20]:
print("Hello"

SyntaxError: incomplete input (<ipython-input-20-73b2b6fc1c24>, line 1)

**Runtime Error**

In [27]:
num = 10
print(num/0)
print("hello")

ZeroDivisionError: division by zero

In [26]:
try:
  num = 10/0
except ZeroDivisionError:
  print("cannot divided by zero")

cannot divided by zero
hello

**Index Error**

In [28]:
list = [1,2,3]
print(list[3])

IndexError: list index out of range

In [34]:
list = [1,2,3]
#print(len(list))
if len(list)>3:
 print(list[3])
else:
  print("list index out of range")

list index out of range

**Logical Error**

In [35]:
lenth  = 5
width = 6
area = lenth + width #area = lenth * width
print(area) # we expect 30 but we got 11

11

**Key Error**

In [45]:
var = {1:"dhaka", 2:"Bangladesh"} # here 1, 2 -> key; dhaka and bangladesh -> value
#print(var.get(3, "key not found"))
print(var[3])

KeyError: 3

**Name Error**

In [48]:
#var1 = 5
print(var1)

NameError: name 'var1' is not defined

**Indentation Error**

In [53]:
var1 = 5
if var1>2:
print(var1)

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-53-0dc24c9dd436>, line 3)

**Value Error**

In [57]:
num = int("abc")

ValueError: invalid literal for int() with base 10: 'abc'

In [58]:
try:
  num = int("abc")
except ValueError:
  print("invalid literal")

invalid literal

**Type Error**

In [62]:
a = "hello"+ 5
print(a)

TypeError: can only concatenate str (not "int") to str

**Attribute Error**

In [70]:
x  = 5
x.append(2)
print(x)

hello

AttributeError: 'int' object has no attribute 'append'

**Common error: (loop)**

In [67]:
i = 2
while i>0:
  print(i)
  #break
  i-=1  # i = i-1

2
1

**Practice Problem**

In [71]:
#find the smallest Number in a list

num = [34, 12, 25, 89, 10]
smallest = num[0]

for var in num:
  if var < smallest:  # 34 < 34 false; 12<34 true -> smallest = 12
    smallest = var
print("Smallest number: ", smallest)

Smallest number:  10

In [80]:
#find the index of a target value
num = [34, 12, 25, 89, 10]
# print(len(num))
#print(num[2])


target= 25

for var in range(len(num)): #len(num)-> 5 (0 to 4)
  if num[var] == target:
    print("Index",var)
    break

Index 2

In [84]:
# reverse string
text = "programming"
reversed_text  = ""

for var in text:
  reversed_text  = var + reversed_text # p , rp, orp
print("reversed text: ", reversed_text)

reversed text:  gnimmargorp