**Arithmetic operators**

In [2]:
x=int(input("Enter value x: "))
y=int(input("Enter value y: "))
print("Addition:", x+y)
print("Sub:", x-y)
print("Multiplication:", x*y)
print("Division:", x/y)
print("Modulus:", x%y)
print("Exponentiation:", x**y) #like power
print("Floor division: ", x//y) # it will take floor value

Addition: 7
Sub: 3
Multiplication: 10
Division: 2.5
Modulus: 1
Exponentiation: 25
Floor division:  2

**Assignment operators**

In [ ]:
x=5
x+=3  #x=x+3
print(x)

x*=3
print(x)


y=4
y//=3
print(y)

z=2
z**=3
print(z)

8
24
1
8

**Comparision operators**

In [ ]:
x = 2
y = 3
print(x==y)
print(x!=y)  # !(not sign) -> not equal
print(x<y)
print(x>y)
print(x<=y)  # like OR
print(x>=y)  # like AND

False
True
True
False
True
False

**Logical Operators**

In [ ]:
x =2
print(x>3 and x<5) # and / AND
print(x>3 or x<5)
print(not((x>3 and x<5))) # 0 -> 1, 1 ->0; like inverse

False
True
True

**Bitwise Operators**

In [ ]:
print(4 & 2)
print(1&3) # if we get same (like 1) bit then it will 1, otherwise it will be 0

print(1|2)

print(1^2)  # ^-> XOR sign

print(~2)

print(2<<1) # 1 bit left shit
print(8>>1) # 1 bit right shift
print(8>>2) # 2 bit right shift

0
1
3
3
-3
4
4
2

**Identity Operators**

In [ ]:
x= [1,2,5]
y=[1,2,5]
z=y # same value exits in z

print(z is y)
print(z is not y)


print(z is x)
print(z is not x)

True
False
False
True

**Membership Operators**

In [ ]:
x= [1,2,5]
print(1 in x)
print(7 not in x)

True
True

In [ ]:
x =10
print((x % 3) * 2 + 5)

7