**string**

In [2]:
s = "Bangladesh" # creating a string
print(s)
print(type(s))

Bangladesh
<class 'str'>

In [15]:
s = "Bangladesh"

print(s[4]) # forward accessing characters
print(s[7])

print(s[-7]) # backward accessing characters


print(s[0:6]) # slicing
print(s[:6])
print(s[6:])
print(s[-4:])

print(s[::-1])

l
e
g
Bangla
Bangla
desh
desh
hsedalgnaB

In [24]:
s = "dhaka"
# s[0]="D" ; it will show error

s = "D"+ s[1:]  #immutability ; s = "Fuch"+ s[3:]
print(s)

del s #delete

#print(s)

Dhaka

In [28]:
s1 = "Dhaka"
print(len(s1)) # length
s = "Dhaka is the capital of bangladesh"
print(len(s))

5
34

In [30]:
s = "Dhaka is the capital of bangladesh"
s = s.replace("bangladesh", "BANGLADESH") # update or replace
print(s)

Dhaka is the capital of BANGLADESH

In [32]:
s2= "dhaka"
print(s2.upper())
s3 ="BANGLADESH"
print(s3.lower())

DHAKA
bangladesh

In [38]:
val = "Dhaka "+ "Bangladesh"
print(val)

val2 = "python "
print(val2 * 5)

s = """Dhaka is the capital
 of bangladesh"""
print(s) # multi line string

Dhaka Bangladesh
python python python python python
Dhaka is the capital
 of bangladesh

In [43]:
name = "Eva"
age = 8
print(f"Name: {name}, Age: {age}") #formating with f string

val = "My name is {} and I am {} years old.".format("Niloy", 17) # format
val2 = "My name is {} and I am {} years old.".format("Mithila", 13)
print(val)
print(val2)

Name: Eva, Age: 8
My name is Niloy and I am 17 years old.
My name is Mithila and I am 13 years old.

**List**

In [55]:
l = [1,2, "apple",5.2] # list creation
print(l)

val= [5]
print(val*5)

l = [1,2, "apple",5.2]
print(l[2]) # accessing

l.append(123) # adding 123 to end of list
print(l)

l.insert(2,4.5) # inserting 4.5 at index 2
print(l)

l.extend([3,8,10]) #multiple elements at the end
print(l)

[1, 2, 'apple', 5.2]
[5, 5, 5, 5, 5]
apple
[1, 2, 'apple', 5.2, 123]
[1, 2, 4.5, 'apple', 5.2, 123]
[1, 2, 4.5, 'apple', 5.2, 123, 3, 8, 10]

In [61]:
l = [1,2, "apple",5.2]
l.remove(5.2)
print(l)

l.pop(1) # particular index deletion
print(l)

del l
#print(l)

[1, 2, 'apple']
[1, 'apple']

**Tuple**

In [70]:
val = ()
print(val)

val2= (1,2,5,7)
print(type(val2))

print(val2[2]) # accessing
print(val2[1:]) #slicing


val2= (1,2,5,7) + (10,3) #concatination
print(val2)

del val2
# print(val2)

()
<class 'tuple'>
5
(2, 5, 7)
(1, 2, 5, 7, 10, 3)

In [80]:
val = set(["Dhaka", "Rajshahi", "Rangpur"]) # list to set
print(type(val))
print(val)

#a = set("Bangladesh")
#print(a)

val2=set(("Dhaka", "Rajshahi", "Rangpur")) # tuple to set
print(type(val2))
print(val2)

val3 = ("Dhaka", 2, "Rangpur")
print(val3)

<class 'set'>
{'Rajshahi', 'Rangpur', 'Dhaka'}
<class 'set'>
{'Rajshahi', 'Rangpur', 'Dhaka'}
('Dhaka', 2, 'Rangpur')

**Input and Output**

In [87]:
val = input("Enter a input:")
print(val)

val = int(input("Enter a input:"))
print(val)

Enter a input:5
5
Enter a input:10
10

In [89]:
print("Dhaka is the capital \n of bangladesh")

Dhaka is the capital
 of bangladesh

In [92]:
name = "Eva"
age = 8

print("My name is",name, "I am ", age, "years old.")

print("Dhaka is the capital", end =" ")
print("of Bangladesh")

My name is Eva I am  8 years old.
Dhaka is the capital of Bangladesh