## **"First Program"**

In [ ]:
print("Hello World")

Hello World

**Python Programming**

In [ ]:
a = 3  #int
b = 2j+a #complex
c= 4.5 #float

print(type(a))
print(type(b))
print(type(c))


a, b, c = 3, 2j+a, 4.5

print(a, b, c)

<class 'int'>
<class 'complex'>
<class 'float'>
3 (3+2j) 4.5

**Dictionary**

In [ ]:
 a = {1: 'Dhaka', 2: 'Bangladesh'} # dictionary creation
 print(a)

print(a[2]) # Accessing Dictionary Items

a[3] = "rajshahi" #Adding and Updating Dictionary Items

print(a)
#val = a.pop(1) #Removing Dictionary Items
# print(val)

del a[2]#Removing Dictionary Items
print(a)

{1: 'Dhaka', 2: 'Bangladesh'}
Bangladesh
{1: 'Dhaka', 2: 'Bangladesh', 3: 'rajshahi'}
{1: 'Dhaka', 3: 'rajshahi'}

In [ ]:
b = {1:"", 2: 100, 3: {"A" : "badda", "B":"Gulshan"}} #Nested Dictionaries
print(b)

print(b[3]["B"])
del b[3] #delete
print(b)

b.pop (1) #delete

print(b)

{1: '', 2: 100, 3: {'A': 'badda', 'B': 'Gulshan'}}
Gulshan
{1: '', 2: 100}
{2: 100}

**Boolean**

In [ ]:
a = True
b =False
print(type(a))

<class 'bool'>

**Set**

In [ ]:
a = set("Bangladesh") # How to Create a Set
print(a)

a.add(("dhaka", "rajshahi"))#Adding and Updating Items
a.add("chittagong")
print(a)

b=set("dhaka")
print(b)

b.remove("a") #Removing Items
b.discard("h")
print(b)

c = set([1.5,2,6,7])
c.add(5)
print(c)

{'g', 'a', 'd', 'e', 'n', 'h', 'l', 'B', 's'}
{('dhaka', 'rajshahi'), 'g', 'a', 'd', 'chittagong', 'e', 'n', 'h', 'l', 'B', 's'}
{'k', 'd', 'h', 'a'}
{'k', 'd'}
{1.5, 2, 5, 6, 7}

In [1]:
s = {1.5, 2, 5, 6, 7}
print(s)
print(type(s))

{1.5, 2, 5, 6, 7}
<class 'set'>