In [1]:
# basic data types
a = 3
b = 3 + 5j
c = 4.5

print(a, type(a))
print(b, type(b))
print(c, type(c))

3 <class 'int'>
(3+5j) <class 'complex'>
4.5 <class 'float'>

In [5]:
# dictionary

a = {
    1: 'Dhaka',
    2: 'Khulna'
}

print(a[1])

a[3] = 'Rajshahi'

print(a.pop(1))

del a[2]

a

Dhaka
Dhaka

{3: 'Rajshahi'}

In [6]:
# nested dictionary
b = {
    1: '',
    2: 100,
    3: {
        'A': 'Badda',
        'B': 'Gulshan'
    }
}

print(b[3]['B'])

Gulshan

In [7]:
# boolean data type
a = True
b = False
print(type(a))

<class 'bool'>

In [14]:
# set
a = set(('Bangladesh',))

a.add('Pakistan')
a.add('Afganistan')
print(a)
a.discard('Afganistan')
a

{'Pakistan', 'Bangladesh', 'Afganistan'}

{'Bangladesh', 'Pakistan'}

In [15]:
#set of integers
i = set([1, 2, 3, 4, 5])
print(i)
i.add(6)
i

{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5, 6}

In [16]:
# declaring set: alternative way
s = {1.5, 3, True, "Hello"}
print(s, type(s))

{1.5, 3, 'Hello', True} <class 'set'>

In [36]:
# string
s = "Bangladesh"
print(s, type(s))

# accessing character with index
print(s[4], s[-7])

# slicing
print(
    s[0:6],
    s[:6],
    s[6:],
    s[-4:]
)

# reversing the string
s[::-1]

# s[0] = 'D' // it will show error!
print('D' + s[1:])

# del s to delete s
# print(s)

print(len(s))

# string methods
text = "Dhaka is the capital of bangladesh"
text = text.replace('bangladesh', 'Bangladesh')
text

dhaka, bangladesh = 'dhaka', 'BANGLADESH'
print(dhaka.upper(), bangladesh.lower())

# string multipication & multi line str

print('python ' * 5)

multi_text = """
This is line 1
This is line 2
"""
print(multi_text)

Bangladesh <class 'str'>
l g
Bangla Bangla desh desh
Dangladesh
10
DHAKA bangladesh
python python python python python

This is line 1
This is line 2

In [38]:
# string formatting
name = 'Mr. X'
age = 100
print(f"Name: {name}, Age: {age}")
print("Name: {}, Age: {}".format(name, age))

Name: Mr. X, Age: 100
Name: Mr. X, Age: 100

In [50]:
# lists
l = [1, 2.5, 'str', False]
print(l[3])

print([5] * 5) # * operator

l.append(6)
print(l)

l.insert(0, 'at_first')
print(l)

l.extend((99, 100))
print(l)

l.remove(99)
l.pop(0)
print(l)

False
[5, 5, 5, 5, 5]
[1, 2.5, 'str', False, 6]
['at_first', 1, 2.5, 'str', False, 6]
['at_first', 1, 2.5, 'str', False, 6, 99, 100]
[1, 2.5, 'str', False, 6, 100]

In [54]:
# tuple
t_1 = ()
print(t_1, type(t_1))

t_2 = 1, 2, 3, 4
print(t_2[0], t_2[1:])

t_3 = t_1 + t_2
t_3

() <class 'tuple'>
1 (2, 3, 4)

(1, 2, 3, 4)